lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.DS_Store

pids
logs
results

node_modules
npm-debug.log
bower_components

public/js/lib/*

config.json

server.key
server.crt
server.csr

dump.rdb

/coverage/*
OpenTok-iOS-2.4.0/
opentok-ios-sdk-*
/BrowserStackLocal
/sc-*/*
sauce-connect.log
