{
    "port": 3000,
    "apiKey": "", // Get this and your secret by registering for tokbox.com
    "apiSecret": "",
    "chromeExtensionId": ""  // Get this from https://github.com/opentok/screensharing-extensions
}