<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title>Archive <%=name%></title>
        <link href='//fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/archive.css" type="text/css" media="screen" title="no title" charset="utf-8">
    </head>
    <body>
        <h1><%= name %></h1>
        <% if (url && status === 'available') { %>
        <video src="<%=url%>" controls autoplay></video>
        <div class="status">This archive will only stick around for 3 days. If you want to keep it you should <a href="<%=url%>">download it</a>.</div>
        <% } else if (status === 'expired') { %>
        <div class="status">This archive has expired</div>
        <% } else { %>
        <div class="status">This archive isn't ready yet <a href="javascript:window.location.reload()">Refresh</a></div>
        <% } %>
        
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-49010461-2']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </body>
</html>