<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html ng-app="opentok-hangout">
    <head>
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <title>Opentok Hangout</title>
        <link href='//fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" title="no title" charset="utf-8">
        <script src="https://swww.tokbox.com/webrtc/v2.2/js/TB.js" type="text/javascript" charset="utf-8"></script>
        
        <script src="//code.jquery.com/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular.min.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body ng-controller="RoomCtrl" class="sharing-my-screen-{{sharingMyScreen}}">
        
        <tb-session apiKey="<%=apiKey%>" 
            sessionId="<%=sessionId%>" 
            token="<%=token%>" 
            publisher="publisher" 
            streams="streams" 
            session="session">
            
            <tb-layout props="{animate:true,bigFixedRatio:true}">
                <tb-subscriber ng-repeat="stream in streams | filter:notMine" 
                    stream="stream" 
                    session="session" 
                    props="{style: {nameDisplayMode: 'off'}}" 
                    ng-class="{OT_big: (stream.oth_large == undefined && stream.name == 'screen') || stream.oth_large}" 
                    ng-dblclick="$emit('changeSize')">
                        <input type="button" class="resize-btn" ng-click="$emit('changeSize');"/>
                </tb-subscriber>
                <tb-publisher ng-if="sharingMyScreen"
                    publisher="screenPublisher"
                    session="session"
                    props='screenPublisherProps'
                    ng-class="{OT_big: screenBig}" 
                    ng-dblclick="$emit('changeScreenSize');">
                    <input type="button" class="resize-btn" ng-click="$emit('changeScreenSize');"/>
                </tb-publisher>
            </tb-layout>
            
            <tb-publisher id="facePublisher" 
                apiKey="<%=apiKey%>" 
                publisher="publisher"
                draggable="true"
                props="{name:'face', style: {nameDisplayMode: 'off'}, constraints: { video: { mandatory: {}, optional: [{minWidth: 1280}, {minHeight: 720}]}}}">
            </tb-publisher>
            
        </tb-session>
        
        <div id="shareInfo" 
            class="streams-{{(streams | filter:notMine).length > 0}}" 
            ng-cloak>
            <p>Waiting for someone to join: <a href="{{shareURL}}">{{shareURL}}</a></p>
        </div>
        <div id="bottomBar">
            <input type="button" name="screenshare" value="Share Screen" id="showscreen" ng-click="shareScreen()" class="screen-btn" />
            <input type="button" name="screenshare" value="Hide Screen" id="hidescreen" ng-click="hideScreen()" class="screen-btn" />
        </div>
        <script src="/js/lib/layoutContainer.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/lib/TB_Angular.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/app.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/controllers.js" type="text/javascript" charset="utf-8"></script>
    </body>
</html>