<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html ng-app="opentok-meet">
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1">
        <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/<%=chromeExtensionId%>">
        <link rel="icon" sizes="128x128" href="icon.png">
        <title>OpenTok Meet : <%=room%></title>
        <link href='//fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/main.css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="/css/ng-embed.min.css" media="screen" title="no title" charset="utf-8">
        <script src="//static.opentok.com/v2/js/opentok.js"></script>

        <link rel="stylesheet" href="//code.ionicframework.com/ionicons/1.4.1/css/ionicons.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.14.2/codemirror.css" media="screen" title="no title" charset="utf-8">
        <script src="/js/commons.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/room.bundle.min.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body ng-controller="RoomCtrl" ng-class="{'mouse-move': mouseMove}">
        <div id='session' ng-class="{'session-connected': connected}">
            <ot-layout props="layoutProps">
                <ot-subscriber ng-repeat="stream in streams | filter:notMine"
                    stream="stream"
                    props="{style: {nameDisplayMode: 'off'}}"
                    ng-class="{OT_big: expanded}"
                    ng-dblclick="$emit('changeSize')">
                        <subscriber-stats stream="stream"></subscriber-stats>
                        <restrict-framerate></restrict-framerate>
                        <mute-video mute-subscriber></mute-video>
                        <expand-button></expand-button>
                        <zoom-button zoomed="expanded ? bigZoomed : zoomed"
                          ng-click="$emit('changeZoom', expanded);"></zoom-button>
                </ot-subscriber>
                <ot-whiteboard ng-show="showWhiteboard"
                    ng-if="connected"
                    width="1280"
                    height="960"
                    color="black"
                    lineWidth="5"
                    class="OT_big">
                </ot-whiteboard>
                <ot-editor ng-show="showEditor"
                    ng-if="connected"
                    mode="javascript"
                    value="// Write code here"
                    modes="[{name: 'Javascript', value: 'javascript'}, {name: 'Markdown', value: 'markdown'}]"
                    class="OT_big">
                </ot-editor>
            </ot-layout>

            <div id="facePublisher"
                ng-if="publishing"
                draggable="true">
                <ot-publisher id="facePublisher"
                    props="facePublisherProps">
                </ot-publisher>
                <mute-video publisher-id="facePublisher" mute-publisher></mute-video>
            </div>
            <ot-publisher id="screenPublisher"
                ng-if="sharingMyScreen"
                props='screenPublisherProps'
                draggable="true">
            </ot-publisher>
        </div>
        <opentok-textchat ng-show="showTextchat"
          ng-if="connected"
          class="OT_big">
        </opentok-textchat>
        <i id="closeTextchat" ng-show="showTextchat" class="ion-close-circled" ng-click="toggleTextchat()"></i>
        <i id="loader" ng-if="!connected" class="ion-loading-c"></i>
        <div id="shareInfo"
            ng-if="connected && connections.length < 2 && !reconnecting"
            ng-cloak>
            <p>Waiting for someone to join: <a href="{{shareURL}}">{{shareURL}}</a></p>
        </div>
        <reconnecting-overlay id="reconnectingOverlay"
            ng-if="reconnecting"
            ng-cloak>
        </reconnecting-overlay>
        <div id="bottomBar">
            <button name="screenshare" id="showscreen" ng-click="toggleShareScreen()" ng-class="{green: !sharingMyScreen, red: sharingMyScreen}" class="screen-btn icon-left ion-monitor" ng-disabled="!screenShareSupported || selectingScreenSource || promptToInstall" ng-if="!isAndroid" title="Share Screen">Screen</button>

            <span class="unread-indicator" ng-class="{unread: whiteboardUnread}">
                <button name="whiteboard" id="showWhiteboardBtn" ng-click="toggleWhiteboard()" ng-class="{green: !showWhiteboard, red: showWhiteboard}" class="whiteboard-btn icon-left ion-edit" title="Collaborative Whiteboard">Whiteboard</button>
                <span class="indicator"></span>
            </span>

            <span class="unread-indicator" ng-class="{unread: editorUnread}">
                <button name="editor" id="showEditorBtn" ng-click="toggleEditor()" ng-class="{green: !showEditor, red: showEditor}" class="editor-btn icon-left ion-document-text" title="Collaborative Editor">Editor</button>
                <span class="indicator"></span>
            </span>

            <span class="unread-indicator" ng-class="{unread: textChatUnread}">
                <button name="textchat" id="showTextchatButton" ng-click="toggleTextchat()" ng-class="{green: !showTextchat, red: showTextchat}" class="textchat-btn icon-left ion-chatbubble" title="Text Chat">Text Chat</button>
                <span class="indicator"></span>
            </span>

            <button type="button" name="archive" id="startArchiveBtn"
                ng-if="!p2p && connected" ng-class="{green: !archiving, red: archiving}" class="icon-left ion-ios7-recording"
                ng-click="toggleArchiving()" title="Record">Record</button>

            <button type="button" name="muteCamera" mute-publisher ng-if="publishing" ng-class="{green: mutedVideo, red: !mutedVideo}" publisher-id="facePublisher" class="icon-left ion ion-person">Camera</button>

            <button type="button" name="muteMicrophone" muted-type="Audio" ng-if="publishing" mute-publisher ng-class="{green: mutedAudio, red: !mutedAudio, 'ion-ios7-mic-off': mutedAudio, 'ion-ios7-mic': !mutedAudio}" publisher-id="facePublisher" class="icon-left ion">Mic</button>

            <span id="publishUI">
                <button name="publish" id="publishBtn" ng-click="togglePublish(true)" ng-class="{green: !publishing, red: publishing}" class="publish-btn icon-left ion ion-ios7-videocam" title="WebCam">{{ publishing ? 'Unpublish' : 'Publish HD'}}</button>
                <button name="publishSD" id="publishSDBtn" ng-if="!publishing" ng-click="togglePublish(false)" class="publish-btn green icon-left ion ion-ios7-videocam" title="WebCam">Publish SD</button>
              </span>
            </span>

            <button name="changeRoom" id="changeRoom" ng-click="changeRoom()" class="icon-left ion-log-out red" title="Leave">Leave</button>
        </div>
        <div id="footer">
            <a href="https://github.com/aullman/opentok-meet" target="_blank"><i class="ion-social-github" title="View source on GitHub"></i></a>
            <a href="https://github.com/aullman/opentok-meet/issues/new" target="_blank"><i class="ion-bug" title="Report Issue"></i></a>
        </div>
        <i id="connCount" class="ion-ios7-people" title="{{connections.length}} participant in the room"> {{connections.length}}</i>
        <div id="statusMessages">
            <div id="archiveStatus" class="statusMessage" ng-if="archiveId">
                Recording: When recording is ready it will be available <a href="/{{room}}/archive/{{archiveId}}" target="_blank">here</a>
            </div>
            <screen-share-dialogs></screen-share-dialogs>
            <ot-errors></ot-errors>
        </div>
        <script type="text/javascript" charset="utf-8">
            angular.module('opentok-meet').value({
                room: '<%=room%>',
                baseURL: '/',
                chromeExtensionId: '<%=chromeExtensionId%>'
            });
        </script>
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-49010461-2']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </body>
</html>
