<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html ng-app="opentok-meet">
    <head>
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1">
        <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/<%=chromeExtensionId%>">
        <link rel="icon" sizes="128x128" href="icon.png">
        <title>OpenTok Meet : <%=room%></title>
        <link href='//fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" title="no title" charset="utf-8">
        <script src="/js/lib/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/lib/angular/angular.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="//static.opentok.com/v2/js/opentok.js"></script>
        <script src="/js/lib/opentok-layout-js/opentok-layout.min.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript">
        // opentok-layout sets window.$ to undefined because of a bug in jQuery (I think)
        window.$ = jQuery.noConflict();
        </script>
        <script src="/js/lib/opentok-angular/opentok-angular.js" type="text/javascript" charset="utf-8"></script>
        <!-- OpenTok Whiteboard -->
        <script src="/js/lib/opentok-whiteboard/opentok-whiteboard.js" type="text/javascript" charset="utf-8"></script>
        <link rel="stylesheet" href="/js/lib/opentok-whiteboard/opentok-whiteboard.css" type="text/css" media="screen" charset="utf-8">
        <!-- OpenTok Editor -->
        <script src="/js/lib/CodeMirror/lib/codemirror.js" type="text/javascript" charset="utf-8"></script>
        <link rel="stylesheet" href="/js/lib/CodeMirror/lib/codemirror.css" type="text/css" media="screen" title="no title" charset="utf-8">
        <script src="/js/lib/CodeMirror/mode/javascript/javascript.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/lib/CodeMirror/mode/markdown/markdown.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/lib/opentok-editor/opentok-editor.js" type="text/javascript" charset="utf-8"></script>
        <link rel="stylesheet" href="/js/lib/opentok-editor/opentok-editor.css" type="text/css" media="screen" title="no title" charset="utf-8">

        <link rel="stylesheet" href="/js/lib/ionicons/css/ionicons.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
        <script src="/js/app.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/directives.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/sync-click.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/controllers.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/services.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/screen/directive.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body ng-controller="RoomCtrl" ng-class="{'mouse-move': mouseMove}">
        <div id='session' ng-class="{'session-connected': connected}">
            <ot-layout props="{animate:true,bigFixedRatio:true}">
                <ot-subscriber ng-repeat="stream in streams | filter:notMine" 
                    stream="stream" 
                    props="{style: {nameDisplayMode: 'off'}}" 
                    ng-class="{OT_big: (stream.othLarge == undefined && stream.name == 'screen') || stream.othLarge}" 
                    ng-dblclick="$emit('changeSize')">
                        <button class="restrict-framerate-btn" ng-class="{'ion-ios7-speedometer-outline': stream.restrictedFrameRate, 'ion-ios7-speedometer': !stream.restrictedFrameRate}" ng-click="$emit('restrictFrameRate');" title="{{stream.restrictedFrameRate ? 'Unrestrict Framerate' : 'Restrict Framerate'}}"></button>
                        <mute-video muted="stream.videoMuted" ng-click="$emit('muteVideo')"></mute-video>
                        <button class="resize-btn ion-arrow-expand" ng-click="$emit('changeSize');" title="{{stream.othLarge ? 'Shrink' : 'Enlarge'}}"></button>
                </ot-subscriber>
                <ot-whiteboard ng-show="showWhiteboard"
                    ng-if="connected"
                    width="1280"
                    height="960"
                    color="black"
                    lineWidth="5"
                    class="OT_big">
                </ot-whiteboard>
                <ot-editor ng-show="showEditor"
                    ng-if="connected"
                    mode="javascript"
                    value="// Write code here"
                    modes="[{name: 'Javascript', value: 'javascript'}, {name: 'Markdown', value: 'markdown'}]"
                    class="OT_big">
                </ot-editor>
            </ot-layout>
            
            <div id="facePublisher"
                ng-if="publishing"
                draggable="true">
                <ot-publisher id="facePublisher" 
                    props="facePublisherProps">
                </ot-publisher>
                <mute-video muted="publisherVideoMuted" ng-click="togglePublishVideo()"></mute-video>
            </div>
            <ot-publisher id="screenPublisher"
                ng-if="sharingMyScreen"
                props='screenPublisherProps'
                draggable="true">
            </ot-publisher>
        </div>
        <i id="loader" ng-if="!connected" class="ion-loading-c"></i>
        <div id="shareInfo" 
            ng-if="connected && !streams.length"
            ng-cloak>
            <p>Waiting for someone to join: <a href="{{shareURL}}">{{shareURL}}</a></p>
        </div>
        <div id="bottomBar">
            <button name="screenshare" id="showscreen" ng-click="toggleShareScreen()" ng-class="{green: !sharingMyScreen, red: sharingMyScreen}" class="screen-btn icon-left ion-monitor" ng-disabled="!screenShareSupported || selectingScreenSource || promptToInstall" ng-if="!isAndroid" title="Share Screen"></button>

            <span class="unread-indicator" ng-class="{unread: whiteboardUnread}">
                <button name="whiteboard" id="showWhiteboardBtn" ng-click="toggleWhiteboard()" ng-class="{green: !showWhiteboard, red: showWhiteboard}" class="whiteboard-btn icon-left ion-edit" title="Collaborative Whiteboard"></button>
                <span class="indicator"></span>
            </span>
            
            <span class="unread-indicator" ng-class="{unread: editorUnread}">
                <button name="editor" id="showEditorBtn" ng-click="toggleEditor()" ng-class="{green: !showEditor, red: showEditor}" class="editor-btn icon-left ion-document-text" title="Collaborative Editor"></button>
                <span class="indicator"></span>
            </span>
            
            <button type="button" name="archive" id="startArchiveBtn"
                ng-if="!p2p && connected" ng-class="{green: !archiving, red: archiving}" class="icon-left ion-ios7-recording"
                ng-click="toggleArchiving()" title="Record"></button>

            <span id="publishUI">
                <button name="publish" id="publishBtn" ng-click="togglePublish(true)" ng-class="{green: !publishing, red: publishing}" class="publish-btn icon-left ion ion-ios7-videocam" title="WebCam"><span ng-if="!publishing">HD</span></button>
                <button name="publishSD" id="publishSDBtn" ng-if="!publishing" ng-click="togglePublish(false)" class="publish-btn green icon-left ion ion-ios7-videocam" title="WebCam"><span ng-if="!publishing">SD</span></button>
              </span>
            </span>
            <button name="changeRoom" id="changeRoom" ng-click="changeRoom()" class="icon-left ion-log-out red" title="Leave"></button>
            <!-- <div id="footer">
                <a href="https://github.com/aullman/opentok-meet" target="_blank">View Source</a>|
                <a href="https://github.com/aullman/opentok-meet/issues/new" target="_blank">Report Issue</a>
            </div> -->
        </div>
        <i id="connCount" class="ion-ios7-people" title="{{connections.length}} participant in the room"> {{connections.length}}</i>
        <div id="statusMessages">
            <div id="archiveStatus" class="statusMessage" ng-if="archiveId">
                Recording: When recording is ready it will be available <a href="/{{room}}/archive/{{archiveId}}" target="_blank">here</a>
            </div>
            <screen-share-dialogs></screen-share-dialogs>
        </div>
        <script type="text/javascript" charset="utf-8">
            angular.module('opentok-meet').value({
                room: '<%=room%>',
                baseURL: '/',
                chromeExtensionId: '<%=chromeExtensionId%>',
                mouseMoveTimeoutTime: 5000
            });
        </script>
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-49010461-2']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </body>
</html>