<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1">
        <title>OpenTok Meet</title>
        <link href='//fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/roomIOS.css" type="text/css" media="screen" title="no title"
    </head>
    <body>
        <div class="message">
            This app does not work on iOS. You can:<br><br>
            <a href='https://mobile-meet.tokbox.com/'>Download the OpenTok Meet iOS App</a></li><br>
            Or...<br>
            <a href='/<%=room%>/whiteboard'>Collaborate on the Whiteboard</a></li><br>
            Or...<br>
            Try Chrome or Firefox on a Mac or PC
        </div>
        <script type="text/javascript">
        window.location = "otmeet://<%=room%>";
        </script>
    </body>
</html>