<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title>OpenTok Meet</title>
        <link href='//fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/roomIOS.css" type="text/css" media="screen" title="no title"
    </head>
    <body>
        <div class="message">
            This app does not work on iOS. You can:<br><br>
            <a href='otmeet://<%=room%>'>Launch the OpenTok Meet iOS App</a></li><br>
            Or...<br>
            <a href='/<%=room%>/whiteboard'>Collaborate on the Whiteboard</a></li><br>
            Or...<br>
            Try Chrome or Firefox on a Mac or PC
        </div>
    </body>
</html>