/* Color theme
black: #262422
grey: #565853
green: #4D9154
red: #C04B4B
white: #DCD9CD
 */

body {
    margin: 0;
    padding: 0;
    color: #DCD9CD;
}

#wrapper {
    text-align: center;
    position: absolute;
    top: 30%;
    width: 100%;
    margin: 0;
    padding: 0;
}

form#joinRoom {
    padding: 0;
    margin: 0;
    width: 320px;
    margin-left: calc(50% - 160px);
    text-align: left;
}

form#joinRoom #inputs {
    float: left;
    margin-right: 5px;
    text-align: right;
}

form#joinRoom #inputs #p2pCheckbox, #advancedLink {
    margin-top: 5px;
}

form#joinRoom input[type='text'] {
    font-family: 'Ropa Sans', sans-serif;
    width: 200px;
    height: 40px;
    font-size: 20px;
    padding: 0 0 0 10px;
    margin: 0;
    border-radius: 5px;
    background-color: #262422;
    border: 1px solid #DCD9CD;
    color: #DCD9CD;
}

@media screen and (max-width: 650px) {
    form#joinRoom input[type='text'] {
        width: 140px;
    }
}

form#joinRoom input[type='submit'] {
    font-family: 'Ropa Sans', sans-serif;
    width: 100px;
    height: 40px;
    background-color: #4D9154;
    border: none;
    color: #DCD9CD;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    -webkit-appearance: none;
}

img.logo {
    width: 120px;
    height: 90px;
    margin-bottom: 30px;
}
