body {
    background-color: #000;
    font-family: 'Ropa Sans', sans-serif;
}

body a {
    color: #fff;
}

publisher {
    width: 178px;
    height: 100px;
    display: block;
    position: absolute !important;
    bottom: 20px;
    right: 20px;
    border-radius: 5px;
}
session {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
layout > subscriber {
    background-color: #000;
    display: inline-block;
    border: 1px solid #fff;
    
/*    -webkit-transition-property: width, height, left, top;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-property: width, height, left, top;
    -moz-transition-duration: 0.5s;
    transition-property: width, height, left, top;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;*/
}
.screenshare-false layout#screens {
    display: none;
}
.screenshare-false layout#faces {
    display: block;
    width: 100%;
    height: 100%;
}
.screenshare-true layout#screens {
    display: block;
    width: 100%;
    height: calc(100% - 100px);
}
.screenshare-true layout#faces {
    display: block;
    width: 100%;
    height: 100px;
    bottom: 0;
    position: absolute;
}

#bottomBar {
  transition: opacity 200ms ease;
  opacity: 0;
  width: 99%;
  bottom: 20px;
  height: 50px;
  position: absolute;
  text-align: center;
}

body:hover #bottomBar {
  opacity: 1;
}

session ~ #bottomBar input.screen-btn {
    display: none;
    width: 200px;
    height: 100%;
    border: none;
    border-radius: 5px;
    background-color: #999;
    color: #fff;
    font-size: 20px;
}

#bottomBar input#showscreen {
  background-color: #659950;
}

#bottomBar input#hidescreen {
  background-color: #CC3331;
}

body.sharing-my-screen-true session.session-connected ~ #bottomBar input#hidescreen,
    body.sharing-my-screen-false session.session-connected ~ #bottomBar input#showscreen {
    display: inline-block;
}

#shareInfo {
    font-size: 18px;
    color: #fff;
    text-align: center;
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    background-color: #999;
    top: 50%;
    position: absolute;
    left: 50%;
    margin-left: -25%;
    margin-top: -5%;
    min-width: 250px;
    display: none;
}

session.session-connected ~ #shareInfo.streams-false {
    display: block;
}