<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html ng-app="opentok-meet">
    <head>
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <title>OpenTok Meet</title>
        <link href='//fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/main.css" type="text/css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="mobile.css" type="text/css" media="screen" title="no title" charset="utf-8">
        <script src="js/lib/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/lib/angular/angular.min.js" type="text/javascript" charset="utf-8"></script>
        <!--<script src="//static.opentok.com/webrtc/v2.2/js/TB.min.js" type="text/javascript" charset="utf-8"></script>-->
        <!-- Cordova Stuff -->
        <script src="cordova.js" type="text/javascript" charset="utf-8"></script>
        <script src="opentok.js" type="text/javascript" charset="utf-8"></script>
        
        <script src="js/lib/common-js-helpers/build/js/common-js-helpers.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/lib/opentok-layout-js/opentok-layout.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/lib/opentok-angular/opentok-angular.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/app.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/controllers.js" type="text/javascript" charset="utf-8"></script>
        <script src="mobile.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body ng-controller="RoomCtrl" ng-class="{'mouse-move': mouseMove}">
        <div id='session' ng-class="{'session-connected': connected}">
            <ot-layout props="{animate:false,bigFixedRatio:true}">
                <ot-subscriber ng-repeat="stream in streams" 
                    stream="stream" 
                    session="session" 
                    props="{style: {nameDisplayMode: 'off'}}" 
                    ng-class="{OT_big: (stream.oth_large == undefined && stream.name == 'screen') || stream.oth_large}" 
                    ng-dblclick="$emit('changeSize')">
                        <input type="button" class="resize-btn" ng-click="$emit('changeSize');"/>
                </ot-subscriber>
            </ot-layout>
            
            <ot-publisher id="facePublisher" 
                ng-if="publishing"
                draggable="true">
            </ot-publisher>
        </div>
        <div id="shareInfo" 
            class="streams-{{(streams | filter:notMine).length > 0}}" 
            ng-cloak>
            <p>Waiting for someone to join: <a href="#" copy="{{shareURL}}">{{shareURL}}</a></p>
            <ul id="shareMenu">
                <a href="#" copy="{{shareURL}}"><li class="copy"><img src="images/clipboard.png" />Copy</li></a>
                <!-- <a href="sms:?body={{shareURL}}"><li class="sms"><img src="images/chatbubble.png" />SMS</li></a> -->
                <a href="mailto:?subject=Let's Meet&body={{shareURL}}"><li class="email"><img src="images/email.png" />EMail</li></a>
            </ul>
        </div>
        <img id="loader" src="loader.gif" />
        <div id="bottomBar">
            <!-- <input type="button" name="archive" value="Start Archive" id="startArchiveBtn"
                ng-if="!archiving && !p2p"
                ng-click="startArchiving()">
            <input type="button" name="archive" value="Stop Archive" id="stopArchiveBtn"
                ng-if="archiving"
                ng-click="stopArchiving()"> -->

            <!-- <span id="publishUI">
                <input type="button" name="publish" value="Publish" id="publishBtn" ng-click="publish()" class="publish-btn" ng-if="!publishing" />
            </span> -->
            <!-- <input type="button" name="unpublish" value="Unpublish" id="unpublishBtn" ng-click="unpublish()" class="unpublish-btn" ng-if="publishing" /> -->
            <!-- <input type="button" name="hangup" value="Hangup" id="hangupBtn" ng-click="hangup()" ng-if="connected"/>
            <input type="button" name="connect" value="Connect" id="connectBtn" ng-click="connect()" ng-if="!connected && hungup"/> -->
            <!-- <div id="footer">
                <a href="https://github.com/aullman/opentok-meet" target="_blank">View Source</a>|
                <a href="https://github.com/aullman/opentok-meet/issues/new" target="_blank">Report Issue</a>
            </div> -->
        </div>
        <div id="statusMessages">
            <!-- <div id="archiveStatus" class="statusMessage" ng-if="archiveId">
                Archiving: When archive is ready it will be available <a href="{{shareURL}}/{{room}}/archive/{{archiveId}}">here</a>
            </div> -->
        </div>
        <script type="text/javascript" charset="utf-8">
            opentokMeet.value({
                baseURL: 'https://meet.tokbox.com/'
            });
        </script>
    </body>
</html>