/* Color theme
black: #262422
grey: #565853
green: #4D9154
red: #C04B4B
white: #DCD9CD
 */
#shareInfo button {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    -webkit-appearance: none;
    font-family: 'Ropa Sans', sans-serif;
    display: inline-block;
    width: 100px;
    background-color: #DCD9CD;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    color: #262422;
}

#session {
  bottom: 50px !important;
}

#bottomBar {
  bottom: 0 !important;
  height: 50px !important;
  opacity: 1 !important;
}

#bottomBar #publishBtn.green {
    text-align: center !important;
}