<div id='session' ng-class="{'session-connected': connected}">
    <ot-layout props="{animate:false,bigFixedRatio:true}">
        <ot-subscriber ng-repeat="stream in streams" 
            stream="stream" 
            session="session" 
            props="{style: {nameDisplayMode: 'off'}}" 
            ng-class="{OT_big: (stream.oth_large == undefined && stream.name == 'screen') || stream.oth_large}" 
            ng-dblclick="$emit('changeSize')">
                <input type="button" class="resize-btn" ng-click="$emit('changeSize');"/>
        </ot-subscriber>
    </ot-layout>
    
    <ot-publisher id="facePublisher" 
        ng-if="publishing"
        draggable="true">
    </ot-publisher>
</div>
<div id="shareInfo" 
    ng-if="connected && !streams.length"
    ng-cloak>
    <p>Waiting for someone to join: <a href="#" copy="{{shareURL}}">{{shareURL}}</a></p>
    <button class="icon-left ion-clipboard" copy="{{shareURL}}">Copy</button>
    <button class="icon-left ion-email" ng-click="sendEmail()">Email</button>
    
</div>
<i id="loader" ng-if="!connected" class="ion-loading-c"></i>
<div id="bottomBar">
    <button name="changeRoom" id="changeRoom" ng-click="changeRoom()" class="icon-left ion-log-out red" ng-disabled="leaving">Leave</button>
    <!-- <span id="publishUI">
        <button name="publish" id="publishBtn" ng-click="togglePublish()" ng-class="{green: !publishing, red: publishing}" class="publish-btn icon-left ion-ios7-videocam">WebCam</button>
    </span> -->
</div>
<div id="statusMessages">
    <!-- <div id="archiveStatus" class="statusMessage" ng-if="archiveId">
        Archiving: When archive is ready it will be available <a href="{{shareURL}}/{{room}}/archive/{{archiveId}}">here</a>
    </div> -->
</div>
