<?xml version='1.0' encoding='utf-8'?>
<widget id="com.tokbox.meet" version="0.0.4" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>OpenTokMeet</name>
    <description>
        A simple video chat application using OpenTok.
    </description>
    <author email="adam@tokbox.com" href="https://meet.tokbox.com">
      Adam Ullman
    </author>
    
    <preference name="fullscreen" value="true" />
    
    <gap:config-file platform="ios" parent="UIStatusBarHidden">
        <true/>
    </gap:config-file>

    <gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance">
        <false/>
    </gap:config-file>
    
    <feature name="SplashScreen">
      <param name="ios-package" value="CDVSplashScreen"/>
      <param name="onload" value="true" />
    </feature>
    
    <content src="index.html" />
    <access origin="*" />
</widget>
