<?xml version='1.0' encoding='utf-8'?>
<widget id="com.tokbox.meet" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>OpenTokMeet</name>
    <description>
        A simple video chat application using OpenTok.
    </description>
    <author email="adam@tokbox.com" href="https://meet.tokbox.com">
      Adam Ullman
    </author>
    
    <preference name="fullscreen" value="true" />
    
    <content src="index.html" />
    <access origin="*" />
</widget>
