cycle-camera button {
  z-index: 100;
  font-size: 20px;
  position: absolute;
  color: white;
  top: 3px;
  right: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: opacity 500ms ease-in;
}

#facePublisher:hover cycle-camera button {
  opacity: 1;
}